body{
    background-image:url('https://i.ibb.co/b1RYtTc/traffic-1149857-1280.jpg');
    background-position: center center;
    background-size: cover;
    width:100%;
    background-repeat: no-repeat;
    
}

.nav-link {
	color: #ffcb00;
	font-size: 21px;
}